<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <title>Linklet</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
  <h1>Linklet</h1>
</div>
