<% include ../partials/header %>

<div class="container">

<h2>SHORTENED LINK:</h2>

<a href=<%= taco %> target="_blank">
<%= "https://linklet.herokuapp.com/" + taco %>
</a>

<% include ../partials/footer %>