<% include ../partials/header %>

<div class="container">

<h2>SHORTENED LINK:</h2>

<a href=<%= taco %> target="_blank">
<%= "https://" + req.headers.host + "/" + taco %>
</a>

<% include ../partials/footer %>